<div class="b-join rel pt75 s:pt150" data-smooth-item>
  <img src="/static/bg-gradient.png" class="abs top left x y wct" alt="Gradient">
  {% set connect = { mb: 's:pb150', id: 'connect' } %}
  <div class="row">{% include '_connect.njk' %}</div>
</div>