<div class="b-hero pt100 pb45 s:pt150 s:pb125" data-smooth-item>
  <div class="row">
    <div class="x s:gpl2 s:col17">
      <h1 class="f15 mb10">Everpost <span class="rel purple b-hero__badge">Academy{{ badgeSVG(id = 'badge-3') }}</span></h1>
      <h2 class="f25 s:fh1 lh110">Thoughts, tips, and opinions on video post production.</h2>
    </div>
  </div>
</div>