<header class="sh fix top left x pen pt15 s:pt25 z10">
  <div class="f jcb">
    <a href="/blog" class="site-logo f aic pea" aria-label="blog">
      {{ badgeSVG(id = 'badge-2' )}}
      {% include '_icons/_back-arrow.njk' %}
    </a>
    <div class="f aic rel">
      <a href="/" class="f085 s:gmr1 pea">Back to <span class="purple">Everpost.com</a>
      {{ btn(id = 2, text = 'Join Waitlist', classes = 'dn s:db', anchor = true) }}
    <div>
  </div>
</header>
