<header class="payment_header">
    <div class="f jcb">
        <a href="/" class="site-logo pea payment_header_logo">
            <img src="/static/logo-full.svg" alt="Everpost">
        </a>
        <div class="f aic rel">
            <a href="/" class="f085  pea grey_bg">Powered by <span>stripe</span></a>
            <a href="/" class="f085 pea purple_bg">Skip to payment</a>

        </div>
    </div>
</header>
