<footer class="foot pv60 s:pv40 bg-purple-light s:ph20 rel z5" data-smooth-item>
  <div class="row f fc s:fr s:jcb">
    <div class="foot-item lg rel i-arrow-r">
      {{ arrow() }}
      <h2 class="f20 s:fh2 mb30 s:mb0">Connect with us.</h2>
    </div>
    <div class="foot-item f fc x s:col11 s:gpr4">
      <ul class="social f mb30">
        <li class="mr30">
          <a href="https://www.facebook.com/Everpost-110025387381856/" target="_blank" rel="noreferrer" class="f18 rel u-line-f">{{ arrowSmall() }}Fb</a>
        </li>
        <li class="mr30">
          <a href="http://www.instagram.com/meeteverpost" target="_blank" rel="noreferrer" class="f18 rel u-line-f">{{ arrowSmall() }}Ig</a>
        </li>
        <li class="mr30">
          <a href="https://www.youtube.com/channel/UCgkph3DJlwT1O2-OPuflraw" target="_blank" rel="noreferrer" class="f18 rel u-line-f">{{ arrowSmall() }}Yt</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/meeteverpost/" target="_blank" rel="noreferrer" class="f18 rel u-line-f">{{ arrowSmall() }}Li</a>
        </li>
      </ul>
      <p class="dark-grey">(310) 837-4611<br>128 Maryland Street, El Segundo, CA 90245</p>
      <div class="f fc s:fr s:aic mt45 s:mt80">
        <img src="/static/logo-full.svg" class="foot__logo col13 s:col3 mb15 s:mb0" alt="Everpost">
        <p class="foot__copyright label s:gpl1 nowrap">All Rights Reserved © 2020</p>
      </div>
    </div>
  </div>
</footer>
