<aside class="vm fix top left x y f aic jcc | js-vm">
  <div class="abs fill z1 | js-vm-close">
    <div aria-label="close" class="vm__close abs">
      <div class="rel"></div>
    </div>
  </div>
  <div class="vm__vid rel">
    <div class="aspect" style="--aspect: 56.26%"></div>
    <video src="" class="abs top left x y o-cover z2 db | js-vm-vid" controls playsinline></video>
  </div>
</aside>