<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.44 11.91"><defs><style>.b-arrow{fill:none;stroke:#683cff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.7px}</style></defs><path class="b-arrow" d="M.85 5.96L7.43.85v10.21L.85 5.96M20.59 5.95H7.43"/></svg>