<svg width="24" height="30" xmlns="http://www.w3.org/2000/svg"><path d="M21.803 15.198l-20 13.007v-26z" stroke="#FFF" stroke-width="2.6" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>