.tal, .intro {

  &-r {
    font-size: 15rem;
    letter-spacing: -0.05em;
    will-change: transform;

    &__text {
      color: $color-purple;

      .is-desktop & {
        opacity: 0;
      }
    }
  }
}

.intro {
  margin-top: -150vh;

  &__bg {
    opacity: 0;
  }

  &__content {
    padding-top: 150vh;
  }
}

.payment_header {
  padding: 10px 82px;
  @media (max-width: $bp-xxs) {
    padding: 0 10px 0 0;
    .jcb {
      padding-top: 10px;
      flex-direction: column;
      align-items: center;
    }
    .f.aic.rel {
      display: none;
    }
  }
}

.stripe-actions__mobile {
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 15%;

  .pea.grey_bg {
    margin: 3% 0 0 0;
    width: 128px;
    height: 28px;
  }

  @media (min-width: $bp-xxs) {
    display: none;
  }
}

.int-fqa-list {
  @media (max-width: $bp-xxs) {
    display: none;
  }
}

.intro-header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  @media (max-width: $bp-xxs) {
    display: none;
  }
}

.intro-video {
  position: relative;
  padding: 30.25% 0 0;
  margin-bottom: 2.4rem;
  @media (max-width: $bp-xxs) {
    padding: 44.25% 0 0;
  }
}

.intro-mask {
  position: absolute;
  width: 100%;
  height: 900px;
  top: -200px;
  bottom: 0;
  background-image: url("/static/Mask.svg");
  background-repeat: no-repeat;
  @media (max-width: $bp-xxs) {
    height: auto;
    background: linear-gradient(134.44deg, #B601FF 1.05%, #6042FF 98.02%);
    opacity: 0.08;
  }
}

.intro--hiv {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;

  img {
    position: relative;
  }
}

.faq_wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10%;
  @media (max-width: $bp-xxs) {
    margin-bottom: 18%;
  }
}

.inner_wrapper {
  font-family: Abhaya Libre;
  padding: 4% 10%;
  text-align: left;

  h3 {
    position: relative;
    color: #683cff;
    font-size: 1.4rem;
    letter-spacing: .07px;
    line-height: 3rem;
    margin-bottom: 5%;

    &::before {
      content: 'Q';
      position: absolute;
      left: -7%;
      color: grey;
      opacity: 0.6;
      font-size: 14px;
    }

    @media (max-width: $bp-xxs) {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 10%;
      &::before {
        left: 0;
        top: -20px;
        font-size: 13px;
      }
    }
  }

  p {
    position: relative;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #200D3A;

    &::before {
      content: 'A';
      position: absolute;
      left: -7%;
      color: grey;
      opacity: 0.6;
      font-size: 14px;
    }

    @media (max-width: $bp-xxs) {
      font-size: 1.1rem;
      line-height: 1.7rem;
      &::before {
        left: 0;
        top: -20px;
        font-size: 13px;
      }
    }
  }

  .small_text {
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.503232px;
    color: #200D3A;
    opacity: 0.49;
    margin-top: 5%;

    &::before {
      content: none;
    }
  }


  @media (max-width: $bp-xxs) {
    padding: 38px 8%;
  }
}

.accent-text {
  color: #683cff;
}

.faq_col {
  position: relative;
  margin: 1.8rem;
  width: 440px;
  background: #FFFFFF;
  @media (max-width: $bp-xxs) {
    margin: 0 0 25px 0;
  }
}

.faq_col.x.rel.mha img {
  position: relative;
  height: 200px;
}

.faq_left {
  .faq_col {
    border-radius: 17px 45px 45px 45px;

    &::before {
      position: absolute;
      content: '';
      width: 26px;
      height: 26px;
      background: linear-gradient(136.75deg, #6042FF 15.78%, rgba(182, 1, 255, 0.485058) 83.53%);
      left: -8%;
      border-radius: 50%;
    }

    @media (max-width: $bp-xxs) {
      width: 100%;
      border-radius: 17.64px;
      &::before {
        display: none;
      }
    }
  }

}

.faq_right {
  .faq_col {
    border-radius: 45px 16px 45px 45px;

    &::after {
      position: absolute;
      content: '';
      width: 26px;
      height: 26px;
      background: linear-gradient(136.75deg, #6042FF 15.78%, rgba(182, 1, 255, 0.485058) 83.53%);
      right: -8%;
      top: 0;
      border-radius: 50%;
    }

    @media (max-width: $bp-xxs) {
      width: 100%;
      border-radius: 17.64px;
      &::after {
        display: none;
      }
    }
  }
}

.faq_col__img {
  overflow: hidden;
  border-radius: 45px 16px 0 0;
  @media (max-width: $bp-xxs) {
    border-radius: 17.64px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.unstone {
  font-family: Abhaya Libre;

  h2 {
    margin-top: 6px;
    @media (max-width: $bp-xxs) {
      margin-top: 0;
    }
  }

  p {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    @media (max-width: $bp-xxs) {
      width: 80%;
      padding-bottom: 20px;
    }
  }
}

.unstone--reach {
  position: relative;

  &::before {
    position: absolute;
    content: "\2197";
    top: -15px;
    right: -11px;
  }
;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #683cff;
    bottom: 0;
    left: 0;
    opacity: 0.3;
  }

}

.unstone-footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 3%;
  align-items: center;

  .intro--hiv__footer {
    position: relative;
    width: 24px;
    height: 20px;
    margin-right: 15px;
  }

  span {

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    @media (max-width: $bp-xxs) {
      font-size: 15px;
    }
  }
}

.read-faqs {
  margin-bottom: 10%;
}