{% macro arrowSmall(classes = '') %}
  <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9">
    <g fill="none" fill-rule="evenodd" stroke="#504166" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.36" transform="translate(1 1)">
      <polyline points="2.147 0 6.911 0 6.911 4.861"/>
      <line x1="6.4" y1=".611" y2="7.011"/>
    </g>
  </svg>
{% endmacro %}
