<section class="pv75 s:pv100 rel bg-white z3" data-smooth-item>
  <div class="row lg label ttu mb5 rel">
    {{ arrow() }}
    Summary
  </div>
  <div class="row lg">
    <header class="s:f s:jcb">
      <h1 class="f20 s:fh2 x s:col7 mb30 s:mb0">{{ home.summaryTitle }}</h1>
      <div class="x s:col11 s:gpr2">
        <p class="f15 mb20 dark-grey">
          {{ home.summaryText }}
        </p>
      </div>
    </header>
  </div>
</section>
