<div id="how-it-works" class="hiw rel pt75 s:pt100 bg-white z5" data-smooth-item data-stick-start data-stick-end data-offset="0">
  <div class="rel">
    <div class="dn s:db abs top left x z5">
      <div class="row lg ttu mb5 rel">
        {% include '_home/_how-it-works-nav.njk' %}
      </div>
    </div>

    <!-- 01 -->
    <div id="hiw-1" class="row lg">
      <div class="f fc">
        <div class="x s:col7">
          <div class="label mb5 ttu">01 - How it works</div>
          <h3 class="f20 s:fh2">Start your project.<br>We can chat {{ underline(text = '24/7') }}.</h3>
        </div>
        <div class="x s:col8 rel mha">
          <div class="hiw__canvas"></div>
          <figure class="hiw__bm hiw__bm--1 abs | js-bm" data-name="hiw1"></figure>
        </div>
      </div>
    </div>

    <!-- 02 -->
    <div id="hiw-2" class="row lg">
      <div class="f fc">
         <div class="hiw-content x s:col8 s:gml10 rel z2">
          <div class="label mb5">02</div>
          <h3 class="f20 s:fh2">{{ underline(text = 'Upload') }} your footage or we&rsquo;ll pick it up free of charge.</h3>
          <p class="f15 dark-grey pt20 abs left">Or have <a href="https://www.nurturedigital.com" class="u-line-f rel f15 mr5">{{ arrowSmall() }}Nurture</a> shoot it.</p>
        </div>
        <div class="x s:col8 rel mha">
          <div class="hiw__canvas"></div>
          <figure class="hiw__bm hiw__bm--2 abs top left x y | js-bm" data-name="hiw2"></figure>
        </div>
      </div>
    </div>

    <!-- sticky part -->
    <div id="hiw-3" class="hiw-mid s:mb100 rel js-stick-hiw-end" data-stick-start>
      <div class="hiw-slides abs top left x z1 | js-stick-hiw">
        <div class="row s:gpl1 s:gpr1">
          <div class="s:col8 rel mha | js-hiw-slides">
            <div class="aspect" style="--aspect: 100%;"></div>
          </div>
        </div>
      </div>

      <div class="hiw-slide x rel z2">
        <div class="row lg">
          <div class="f fc">
            <div class="rel x s:col7 z2">
              <div class="label mb5">03</div>
              <h3 class="f20 s:fh2">We&rsquo;ll {{ underline(text = 'edit') }} it...</h3>
            </div>
            <div class="hiw-slide__wrap x s:col8 rel mha | js-hiw-slide">
              <div class="hiw__canvas"></div>
              <figure class="hiw__bm hiw__bm--slide abs top left x y | js-bm-m" data-name="hiw3"></figure>
            </div>
          </div>
        </div>
      </div>

      <div class="hiw-slide x rel z2">
        <div class="row lg">
          <div class="f fc">
            <div class="rel x s:col8 s:gml10 z2">
              <div class="label mb5">04</div>
              <h3 class="f20 s:fh2">{{ underline(text = 'animate') }} it.</h3>
            </div>
            <div class="hiw-slide__wrap x s:col8 rel mha | js-hiw-slide">
              <div class="hiw__canvas"></div>
              <figure class="hiw__bm hiw__bm--slide abs top left x y | js-bm-m" data-name="hiw4"></figure>
            </div>
          </div>
        </div>
      </div>

      <div class="hiw-slide x rel z2">
        <div class="row lg">
          <div class="f fc">
            <div class="rel x s:col7 z2">
              <div class="label mb5">05</div>
              <h3 class="f20 s:fh2">{{ underline(text = 'color correct') }} it.</h3>
            </div>
            <div class="hiw-slide__wrap x s:col8 rel mha | js-hiw-slide">
              <div class="hiw__canvas"></div>
              <figure class="hiw__bm hiw__bm--slide abs top left x y | js-bm-m" data-name="hiw5"></figure>
            </div>
          </div>
        </div>
      </div>

      <div class="hiw-slide x rel z2">
        <div class="row lg">
          <div class="f fc">
            <div class="rel x s:col8 s:gml10 z2">
              <div class="label mb5">06</div>
              <h3 class="f20 s:fh2">and {{ underline(text = 'sound design') }} it.</h3>
            </div>
            <div class="hiw-slide__wrap x s:col8 rel mha | js-hiw-slide">
              <div class="hiw__canvas"></div>
              <figure class="hiw__bm hiw__bm--slide abs top left x y | js-bm-m" data-name="hiw6"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 07 -->
    <div id="hiw-4" class="row lg rel z3">
      <div class="f fc">
        <div class="x s:col7">
          <div class="label mb5">07</div>
          <h3 class="f20 s:fh2">Making all the {{ underline(text = 'changes') }} you want along the way.</h3>
        </div>
        <div class="x s:col8 rel mha">
          <div class="hiw__canvas"></div>
          <figure class="hiw__bm hiw__bm--7 abs | js-bm" data-name="hiw7"></figure>
        </div>
      </div>
    </div>

    <!-- 08 -->
    <div id="hiw-5" class="row lg">
      <div class="f fc">
         <div class="x s:col8 s:gml10">
          <div class="label mb5">08</div>
          <h3 class="f20 s:fh2">Faster than you’d believe, with artists in time zones around {{ underline(text = 'the world') }}.</h3>
        </div>
        <div class="x s:col8 rel mha">
          <div class="hiw__canvas"></div>
          <figure class="hiw__bm hiw__bm--8 abs top left x y | js-bm" data-name="hiw8"></figure>
        </div>
      </div>
    </div>

    <!-- 09 -->
    <div id="hiw-6" class="row lg">
      <div class="f fc">
         <div class="x s:col7">
          <div class="label mb5">09</div>
          <h3 class="f20 s:fh2">Then we&rsquo;ll start on your {{ underline(text = 'next video') }}.</h3>
        </div>
        <div class="x s:col8 rel mha">
          <div class="hiw__canvas"></div>
          <figure class="hiw__bm hiw__bm--9 abs top left x y | js-bm" data-name="hiw9"></figure>
        </div>
      </div>
    </div>
  </div>
</div>


