<nav class="hiw-nav abs top left f fc s:col1" data-stick>
  <div class="hiw-nav__inner rel">
    <ul class="hiw-nav-list rel bg-base-white z2">
      <li>
        <button type="button" data-anchor="#hiw-1" class="hiw-nav-list__btn is-active | js-hiw-link">
          <div class="rel">
            <img src="/static/hiw/hiw_nav_01.svg" alt="">
            <img src="/static/hiw/hiw_nav_01-active.svg" class="abs top left x y"  alt="">
          </div>
        </button>
      </li>
      <li>
        <button type="button" data-anchor="#hiw-2" class="hiw-nav-list__btn | js-hiw-link">
          <div class="rel">
            <img src="/static/hiw/hiw_nav_02.svg" alt="">
            <img src="/static/hiw/hiw_nav_02-active.svg" class="abs top left x y" alt="">
          </div>
        </button>
      </li>
      <li>
        <button type="button" data-anchor="#hiw-3" class="hiw-nav-list__btn | js-hiw-link">
          <div class="rel">
            <img src="/static/hiw/hiw_nav_03.svg" alt="">
            <img src="/static/hiw/hiw_nav_03-active.svg" class="abs top left x y" alt="">
          </div>
        </button>
      </li>
      <li>
        <button type="button" data-anchor="#hiw-4" class="hiw-nav-list__btn | js-hiw-link">
          <div class="rel">
            <img src="/static/hiw/hiw_nav_04.svg" alt="">
            <img src="/static/hiw/hiw_nav_04-active.svg" class="abs top left x y" alt="">
          </div>
        </button>
      </li>
      <li>
        <button type="button" data-anchor="#hiw-5" class="hiw-nav-list__btn | js-hiw-link">
          <div class="rel">
            <img src="/static/hiw/hiw_nav_05.svg" alt="">
            <img src="/static/hiw/hiw_nav_05-active.svg" class="abs top left x y" alt="">
          </div>
        </button>
      </li>
      <li>
        <button type="button" data-anchor="#hiw-6" class="hiw-nav-list__btn | js-hiw-link">
          <div class="rel">
            <img src="/static/hiw/hiw_nav_06.svg" alt="">
            <img src="/static/hiw/hiw_nav_06-active.svg" class="abs top left x y" alt="">
          </div>
        </button>
      </li>
    </ul>
  </div>
  {{ arrow(classes = 'mt15') }}
</nav>