<section class="tal rel">
  <div id="talent" class="abs top left x y z1 rel pt75 s:pt100 pen" data-smooth-item data-offset="0">
    <img data-lazy-load="/static/bg-gradient.png" class="abs top left x y wct" alt="">
    <div class="curve abs left right">
      <svg xmlns="http://www.w3.org/2000/svg" width="1646" height="53" viewBox="0 0 1646 53" class="x y">
        <path fill="#F2F1F8" fill-rule="evenodd" d="M0,1.77885024 C327.043564,31.2596167 603.547885,46 829.512962,46 C1055.47804,46 1327.64038,31.2596167 1646,1.77885024 L1646,1.77885024 L1646,54 L0,54 Z" transform="translate(0 -1)"/>
      </svg>
    </div>
    <div class="tal-r rel lh100 | js-stick-talent" aria-hidden="true" data-stick-start="0.5">
      <div class="tal-r__text | js-tal-r">
        TalentTalentTalentTalentTalentTalentTalentTalentTalentTalentTalentTalent
      </div>
    </div>
  </div>
  <div data-smooth-item class="pt125 s:pt150 rel oh z3 pen">
    <div class="row">
      <article class="vid-item f fc rel mb75 s:mb90">
        <header 
          class="vid-item__head rel z3"
          data-from='{"yPercent": "-100"}'
          data-to='{"yPercent": "65"}'  
        >
          <div class="gpl2 label label--dark ttu mb5 rel i-arrow-r">
            {{ arrow(light = true) }}
            Our expertise
          </div>
          <h1 class="gpl2 f25 s:fh1 lh110">
            <div class="oh"><div class="js-s-line">Talent</div></div>
            <div class="oh white"><div class="js-s-line">Animation</div></div>
          </h1>
        </header>
        <figure 
          class="aspect rel" 
          data-gl-id="talent_1" 
          data-gl-component="PlaneVideo"
          data-gl-desktop
          data-src="/static/talent/Talent_Animation_1.mp4"
          data-lazy-src-m="/static/talent/Talent_Animation_1.jpg"
        >
          {{ playIcon(url = 'https://player.vimeo.com/external/416541813.hd.mp4?s=c509697ea0825bf2ffcfac96492bfca628b9e015&profile_id=175') }}
          <ul class="vid-item__infos abs bottom right ph60 pv50 z2 dn s:f z3">
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">2020</div>
              <div class="label label--light ttu">Shot by Nurture</div>
              <div class="label label--transparent">Los Angeles</div>
            </li>
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">01:37</div>
              <div class="label label--light ttu">Post by Everpost</div>
              <div class="label label--transparent">International</div>
            </li>
          </ul>
        </figure>
      </article>  

      <article class="vid-item f fc rel mb75 s:mb90">
        <header 
          class="vid-item__head rel z3 mla gpr2"
          data-from='{"yPercent": "-100"}'
          data-to='{"yPercent": "65"}'  
        >
          <div class="label label--dark ttu mb5 rel tr">
            Our expertise
          </div>
          <h1 class="f25 s:fh1 lh110 f fc aie">
            <div class="oh"><div class="js-s-line">Talent</div></div>
            <div class="oh white"><div class="js-s-line">Editing</div></div>
          </h1>
        </header>
        <figure 
          class="aspect rel" 
          data-gl-id="talent_2" 
          data-gl-component="PlaneVideo"
          data-gl-desktop
          data-src="/static/talent/Talent_Editing_1.mp4"
          data-lazy-src-m="/static/talent/Talent_Editing_1.jpg"
        >
          {{ playIcon(url = 'https://player.vimeo.com/external/416541334.hd.mp4?s=0210799606e97f14ca588cd53ab236da5f36625b&profile_id=175') }}
          <ul class="vid-item__infos abs bottom right ph60 pv50 z2 dn s:f">
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">2020</div>
              <div class="label label--light ttu">Shot by Nurture</div>
              <div class="label label--transparent">Los Angeles</div>
            </li>
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">01:37</div>
              <div class="label label--light ttu">Post by Everpost</div>
              <div class="label label--transparent">International</div>
            </li>
          </ul>
        </figure>
      </article>  

      <article class="vid-item f fc rel mb75 s:mb90">
        <header 
          class="vid-item__head rel z3"
          data-from='{"yPercent": "-100"}'
          data-to='{"yPercent": "65"}'  
        >
          <div class="gpl2 label label--dark ttu mb5 rel">
            Our expertise
          </div>
          <h1 class="gpl2 f25 s:fh1 lh110">
            <div class="oh"><div class="js-s-line">Talent</div></div>
            <div class="oh white"><div class="js-s-line">Color</div></div>
          </h1>
        </header>
        <figure 
          class="aspect rel" 
          data-gl-id="talent_3" 
          data-gl-component="PlaneVideo"
          data-gl-desktop
          data-src="/static/talent/Talent_Color_1.mp4"
          data-lazy-src-m="/static/talent/Talent_Color_1.jpg"
        >
          {{ playIcon(url = 'https://player.vimeo.com/external/416541536.hd.mp4?s=e7d3344d5c610cb70fc97eed81f5e18ff6c1dca4&profile_id=175') }}
          <ul class="vid-item__infos abs bottom right ph60 pv50 z4 dn s:f">
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">2020</div>
              <div class="label label--light ttu">Shot by Nurture</div>
              <div class="label label--transparent">Los Angeles</div>
            </li>
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">01:37</div>
              <div class="label label--light ttu">Post by Everpost</div>
              <div class="label label--transparent">International</div>
            </li>
          </ul>
        </figure>
      </article>  

      <article class="vid-item f fc rel mb90 s:mb150">
        <header 
          class="vid-item__head rel z3 mla gpr2"
          data-from='{"yPercent": "-100"}'
          data-to='{"yPercent": "65"}'  
        >
          <div class="label label--dark ttu mb5 rel tr">
            Our expertise
          </div>
          <h1 class="f25 s:fh1 lh110 f fc aie">
            <div class="oh"><div class="js-s-line">Talent</div></div>
            <div class="oh white"><div class="js-s-line">Sound</div></div>
          </h1>
        </header>
        <figure 
          class="aspect rel | js-stick-talent-end" 
          data-gl-id="talent_4" 
          data-gl-component="PlaneVideo"
          data-gl-desktop
          data-src="/static/talent/Talent_Sound_1.mp4"
          data-lazy-src-m="/static/talent/Talent_Sound_1.jpg"
        >
          {{ playIcon(url = 'https://player.vimeo.com/external/416541128.hd.mp4?s=e62209aff4399acefb07b74e1a2d37b8bb8857eb&profile_id=175') }}
          <ul class="vid-item__infos abs bottom right ph60 pv50 z2 dn s:f">
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">2020</div>
              <div class="label label--light ttu">Shot by Nurture</div>
              <div class="label label--transparent">Los Angeles</div>
            </li>
            <li class="f fc aie ml45">
              <div class="label label--dark mb10">01:37</div>
              <div class="label label--light ttu">Post by Everpost</div>
              <div class="label label--transparent">International</div>
            </li>
          </ul>
        </figure>
      </article>  

      {% set connect = { mb: 's:pb175', id: 'connect_2' } %}
      {% include '_connect.njk' %}
      
    </div>
  </div>
</section>
