<div class="hero pen | js-hero">
  <div class="hero__inner f aic nowrap rel z3 | js-hero-inner">
  
    <figure 
      class="hero-img hero-img--1 plane | js-hero-slide" 
      data-gl-id="slide_1" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/01.mp4"
      data-img="/static/hero/01.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure 
      class="hero-img hero-img--2 plane | js-hero-slide" 
      data-gl-id="slide_2" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/02.mp4"
      data-img="/static/hero/02.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure 
      class="hero-img hero-img--3 plane | js-hero-slide" 
      data-gl-id="slide_3" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/03.mp4"
      data-img="/static/hero/03.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure
      class="hero-img hero-img--4 plane | js-hero-slide" 
      data-gl-id="slide_4" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/05.mp4"
      data-img="/static/hero/05.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure
      class="hero-img hero-img--5 plane | js-hero-slide" 
      data-gl-id="slide_5" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/04.mp4"
      data-img="/static/hero/04.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure
      class="hero-img hero-img--1 plane | js-hero-slide" 
      data-gl-id="slide_6" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/06.mp4"
      data-img="/static/hero/06.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure
      class="hero-img hero-img--2 plane | js-hero-slide" 
      data-gl-id="slide_7" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/07.mp4"
      data-img="/static/hero/07.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure 
      class="hero-img hero-img--3 plane | js-hero-slide" 
      data-gl-id="slide_8" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/08.mp4"
      data-img="/static/hero/08.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure 
      class="hero-img hero-img--4 plane | js-hero-slide" 
      data-gl-id="slide_9" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/09.mp4"
      data-img="/static/hero/09.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <figure 
      class="hero-img hero-img--5 plane | js-hero-slide" 
      data-gl-id="slide_10" 
      data-gl-component="HeroSlide" 
      data-vid="/static/hero/10.mp4"
      data-img="/static/hero/10.jpg"
    >
      <div class="hero-img__inner aspect" style="--aspect: 56.25%"></div>
    </figure>

    <div class="hero__content abs fill x y f aic jcc | js-hero-content">
      <div class="rel">
        <figure class="hero__logo s:col4 abs | js-h-logo"><img src="/static/logo-full.svg" alt="Everpost"></figure>
        <h1 class="hero__title rel black tc">
          <div class="f fc aic jcc | js-h-txt">
            <div class="oh"><div class="js-h-txt__l">Everpost never</div></div>
            <div class="oh"><div class="js-h-txt__l">stops making your</div></div>
            <div class="oh rel"><div class="js-h-txt__l">videos. Literally.</div>{{ underline(classes = 'uline--h1 | js-h-uline') }}</div>
          </div>
          <div class="abs top left x y tc f fc aic jcc | js-h-txt">
            <div class="oh rel"><div class="js-h-txt__l">Unlimited broadcast</div>{{ underline(classes = 'uline--h2 | js-h-uline') }}</div>
            <div class="oh"><div class="js-h-txt__l">quality videos.</div></div>
          </div>
          <div class="abs top left x y tc f fc aic jcc | js-h-txt js-h-txt--last">
            <div class="oh"><div class="js-h-txt__l">Unlimited revisions.</div></div>
            <div class="oh rel"><div class="js-h-txt__l">Quick turnaround.</div>{{ underline(classes = 'uline--h3 | js-h-uline') }}</div>
          </div>
        </h1>
        <div class="hero-progress abs pea wct | js-h-progress js-h-play-icon" data-anchor="#purpose">
          <svg class="abs top left x y hero__circle | js-h-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.5 102.5">
            <circle cx="51.25" cy="51.25" r="49" fill="none" stroke="#a08fb7" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5"/>
            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-3595.28" y1="20.191" x2="-3594.056" y2="21.183" gradientTransform="matrix(98 0 0 98 352329.75 -1975.25)"><stop offset="0" stop-color="#6042ff"/><stop offset="1" stop-color="#b601ff"/></linearGradient>
            <path d="M51.2 2.2c27.1 0 49 21.9 49 49s-21.9 49-49 49-49-21.9-49-49 22-49 49-49" fill="none" stroke="url(#a)" stroke-width="3.9" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div> 

  </div>
</div>
