<section class="intro rel pen | js-intro">
	<div class="intro__content row rel z3" data-smooth-item>
		<article id="payment_top" class="vid-item rel mb75 s:mb150 | js-intro-content">
			<h1>So, you're going with Everpost <br>
			<span>Complete Post</span>. Awesome..</h1>
			<ul class="sm f aic s:ais | js-sm-list payment_video_list">
				<li>
					<a href="" class="sm-link rel pea is-active | js-sm-link">
						<span class="sm-link__label">1 Watch what's next?</span>
					</a>
				</li>
				<li>
					<a href="" class="sm-link rel pea | js-sm-link">
						<span class="sm-link__label">2 Read FAQs</span>
					</a>
				</li>
				<li>
					<a href="" class="sm-link rel pea | js-sm-link">
						<span class="sm-link__label">3 Make payment</span>
					</a>
				</li>
			</ul>
			<div style="padding:48.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/417039765?loop=1&color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		</article>
	</div>
</section>
<section class="intro rel pen | js-intro">
	<div class="intro__content row rel z3" data-smooth-item>
		<article id="read-faqs" class="vid-item rel mb75 s:mb150 | js-intro-content">
			<div class="faq_top_content">
				<h2>Questions you might have</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>Lorem Ipsum is simply dummy text of the printing</p>
			</div>	
			<div class="faq_wrapper">
				<div class="faq_col x s:col7">
					<div class="inner_wrapper">
						<h3>What is Lorem Ipsum?</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						<p class="small_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
					</div>
				</div>
				<div class="faq_col x s:col8 rel mha">
					<div class="inner_wrapper">
						<h3>What is Lorem Ipsum?</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>	
				</div>
				<div class="faq_col x s:col8 rel mha">
					<img src="/static/talent/Talent_Animation_1.jpg" alt="Everpost">
					<div class="inner_wrapper">
						<h3>What is Lorem Ipsum?</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>	
				</div>
				<div class="faq_col x s:col8 rel mha">
					<div class="inner_wrapper">
						<h3>What is Lorem Ipsum?</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>	
				</div>
				<div class="faq_col x s:col8 rel mha">
					<div class="inner_wrapper">
						<h3>What is Lorem Ipsum?</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
				</div>
			</div>

		</article>
	</div>
</section>
