<section class="intro rel pen | js-intro">
    <div class="intro__content   rel z3" data-smooth-item>
        {% include '_payment-header.njk' %}

        <article id="payment_top" class="vid-item rel mb75 s:mb150 | js-intro-content">
            <div class="intro-mask"></div>
            <h1>So, you're going with Everpost
                <span>Complete Post</span>. Awesome.</h1>
            <ul class="sm f aic s:ais | js-sm-list payment_video_list">
                <li>
                    <a href="" class="sm-link rel pea is-active | js-sm-link">
                        <span class="sm-link__label">1 Watch what's next?</span>
                    </a>
                </li>
                <li>
                    <a href="" class="sm-link rel pea | js-sm-link">
                        <span class="sm-link__label">2 Read FAQs</span>
                    </a>
                </li>
                <li>
                    <a href="" class="sm-link rel pea | js-sm-link">
                        <span class="sm-link__label">3 Make payment</span>
                    </a>
                </li>
            </ul>
            <div class="intro-video">
                <iframe src="https://player.vimeo.com/video/417039765?loop=1&color=ffffff&title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <div class="intro-header__bottom">
                <a href="/" class="site-logo">
                    <img src="/static/logo-full.svg" alt="Everpost" class="site-logo__img">
                </a>
                <ul class="sm f aic s:ais | js-sm-list">
                    <li>
                        <a href="" class="sm-link rel pea is-active | js-sm-link">
                            <span class="sm-link__label">1 Watch what's next?</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="sm-link rel pea | js-sm-link">
                            <span class="sm-link__label">2 Read FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="sm-link rel pea | js-sm-link">
                            <span class="sm-link__label">3 Make payment</span>
                        </a>
                    </li>
                </ul>
                <div class="f aic rel">
                    <a href="/" class="f085  pea grey_bg">
                        Powered by <span>stripe</span>
                    </a> <a href="/" class="f085  pea purple_bg">Pay now</a>

                </div>
            </div>
        </article>
    </div>
</section>
<section class="intro rel pen | js-intro">
    <div class="intro__content row rel z3" data-smooth-item>
        <article id="read-faqs" class="vid-item rel mb75 s:mb150 | js-intro-content">
            <div class="intro--hiv">
                <img src="/static/hiw/hiw_nav_01.svg" alt="hiw_naw">
            </div>

            <div class="faq_top_content">
                <h2>Questions you might have</h2>
                <p>We’ve answered a list of expected questions you may have as we get started together.</p>
            </div>
            <div class="faq_wrapper">
                <div class="faq_left">
                    <div class="faq_col x s:col7 ">
                        <div class="inner_wrapper">
                            <h3>What type of support does Everpost Complete Post provide?</h3>
                            <p>We provide direct chat support throughout the process*; that's the only that way we can keep
                                prices low and offer. However, we do provide you with free critical updates and access.</p>
                            <p class="small_text">*All refunds are made within standard 60 day terms.</p>
                        </div>
                    </div>
                    <div class="faq_col x s:col8 rel mha faq_left">
                        <div class="inner_wrapper">
                            <h3>What type of support does Everpost Complete Post provide?</h3>
                            <p>We provide direct chat support throughout the process; that's the only that way we can keep
                                prices low and offer However, we do provide you with free critical updates and access.</p>
                        </div>
                    </div>
                </div>
                <div class="faq_right">
                    <div class="faq_col x s:col8 rel mha ">
                        <div class="inner_wrapper">
                            <h3>What is your refund policy?</h3>
                            <p>Due to the nature of our product, we’re currently <span class="accent-text">unable to offer a refund</span>. You’re buying
                                Everpost as is, so be sure to check the requirements* for WordPress before you
                                purchase. </p>
                        </div>
                    </div>
                    <div class="faq_col x s:col8 rel mha ">
                        <div class="faq_col__img">
                            <img src="/static/payman.jpg" alt="Everpost">
                        </div>

                        <div class="inner_wrapper">
                            <h3>How big is the team? Do the same people work on all of my projects?</h3>
                            <p>We provide direct chat support throughout the process; that's the only that way we can keep
                                prices low and offer However, we do provide you with free critical updates and access.</p>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
</section>
